<textarea
    id="searchbar"
    [className]="suggestions.length > 0 ? 'show-suggestions' : 'no-suggestions'"
    (keydown.enter)="submit()" 
    (input)="onTextAreaChanged($event)"
    [value]="query">
</textarea>

<div>
    <li *ngFor="let subject of availableSubjects">
        {{subject.name}} <input type="checkbox" [checked]="selectedSubjects.includes(subject.id)" (input)="toggleSubject(subject.id)" name="{{subject.name}}">
    </li>
</div>

    <ul id="suggestions" *ngIf="suggestions.length > 0">
        <li class="row" *ngFor="let s of suggestions"><a href="/search?query={{s}}">{{s}}</a></li>
    </ul>