<textarea
    id="searchbar"
    [className]="false ? 'show-suggestions' : 'no-suggestions'"
    [value]="text"
    (keydown.enter)="submit($event)" 
    (input)="setText($event)">
</textarea>

<div>
    <span *ngFor="let s of availableSubjects">
        {{s.name}}<input type="checkbox" id="{{s.id}}" [checked]="selectedSubjects.includes(s.id)" (click)="toggleSubject(s)">
    </span>
</div>

<div>
    <span *ngFor="let g of '1,2,3,4,5,6'.split(',')">
        {{g}}<input type="checkbox" id="{{g}}" [checked]="selectedGrades.includes(g)" (click)="toggleGrade(g)">
    </span>
</div>