<div id="root" class="row">
    <img id="thumbnail" src="{{getThumbnailUrl()}}">
    <span>🎵</span>
    <div id="informationContainer" class="column">
        <a href="/materials/{{material?.id}}"><h2>{{material?.name}}</h2></a>
        <span id="subjectGradeInformation">{{material?.subjects?.join(",") || "Alle Fächer"}} • Klasse {{material?.grades?.join(",")}}</span>
        <ul id="tags">
            <li *ngFor="let tag of material?.tags">#{{tag}}</li>
        </ul>
        <p id="description">{{material?.description}}</p>
    </div>
</div>
