<main *ngIf="material != undefined" class="column">
    <div id="materialContainer" class="row">
        <div id="thumbnailActions" class="column">
            <img id="thumbnail" src="{{getThumbnail()}}" alt="Materialvorschau">

            <div *ngIf="thumbnails.length > 1" id="thumbnailList" class="row">
                <img *ngFor="let thumbnail of thumbnails; index as i" class="miniThumbnail" src="{{thumbnails[i]}}" (click)="currentThumbnailIndex = i">
            </div>

            <div id="actions">
                <button *ngFor="let action of actions" type="button" (click)="action.action()">{{action.name}}</button>
            </div>

        </div>
        <span>🎵</span>
        <div id="informationContainer" class="column">
                <h2>{{material.name}}</h2>
            
            <span id="subjectGradeInformation">{{material.subjects.join(",") || "Alle Fächer"}} • Klasse
                {{material.grades.join(",")}}</span>
            <ul id="tags">
                <li *ngFor="let tag of material?.tags">#{{tag}}</li>
            </ul>
            <p id="description">{{material.description}}</p>
        </div>
    </div>
</main>